<form [formGroup]="recipeForm" (ngSubmit)="formSubmit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 px-o">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <div class="form-group">
              <label>Image Path</label>
              <input
                type="text"
                class="form-control"
                formControlName="imgPath"
                >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 col-lg-12">
            <div class="form-group">
              <label>Details</label>
              <textarea
                class="form-control"
                rows="6"
                formControlName="desc"
                ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 col-lg-6 pb-sm-3">
            <button type="button" class="w-100 btn btn-outline-danger" [routerLink]="['..']">Cancel</button>
          </div>
          <div class="col-12 col-md-4 col-lg-6 px-3 pl-md-0">
            <button
              class="w-100 btn btn-outline-primary"
              [ngClass]="{'btn-outline-primary': editMode, 'btn-outline-success': !editMode}"
              type="submit"
              [disabled]="!recipeForm.valid"
              >
              {{editMode ? 'Save' : 'Create'}}</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-0">
        <div class="container-fluid">
          <label>Ingredients</label>
          <div class="row" formArrayName="ingredients" *ngFor="let group of ingredientControls; let i = index;">
            <div class="col-12 mb-2 d-flex align-items-center">
              <div class="input-group" [formGroupName]="i">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{i + 1}}</span>
                </div>
                <input
                  type="text"
                  placeholder="Name"
                  class="form-control w-50"
                  formControlName="name"
                  >
                <input
                  type="number"
                  class="form-control text-center"
                  formControlName="amount"
                  >
              </div>
              <button
                type="button"
                class="close ml-2"
                aria-label="Close"
                (click)="removeIngredientRow(i)"
                >
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-md-6">
              <button
                class="btn btn-outline-secondary rounded-circle"
                style="width: 42px; height: 42px; padding-bottom: 8px;"
                type="button"
                (click)="addIngredientRow()"
                >
                <span>+</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
