<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-5">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="recipe.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-7 col-lg-5">
      <div class="form-group">
        <label>Details</label>
        <textarea class="form-control" rows="8" [(ngModel)]="recipe.description"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 pb-sm-3">
      <button class="w-100 btn btn-outline-secondary" [routerLink]="['..']">Cancel</button>
    </div>
    <div class="col-12 col-md-4 col-lg-3 px-3 px-md-0">
      <button class="w-100 btn btn-outline-primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
