<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <app-shopping-edit></app-shopping-edit>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          *ngFor="let ingredient of (ingredients | async).ingredients; let i = index;"
          (click)="edit(i)"
          >
          {{ingredient.name}}
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
