<div class="container-fluid">
  <div class="row">
    <button class="col-12 btn btn-outline-primary" [routerLink]="['new']">New Recipe</button>
    <hr class="col-10 mt-3">
    <div class="col-12 list-group pr-0 cursor-pointer" app-recipe-item>
      <app-recipe-item
        class="list-group-item list-group-item-action"
        *ngFor="let recipe of recipes; let i = index;"
        [recipe]="recipe"
        [routerLink]="[i]"
        routerLinkActive="active-list-item"
        >
      </app-recipe-item>
    </div>
  </div>
</div>
